// Primary colors
$cream: hsl(30, 38%, 92%);
$dark_cyan: hsl(158, 36%, 37%);
// $very_dark_cyan: hsl(104, 100%, 42%);
$very_dark_cyan: hsl(156, 42%, 18%);

// Neutral colors
$very_dark_blue: hsl(212, 21%, 14%);
$dark_grayish_blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);